main{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.top-section{
    padding-top: 10px;
    width: 69%;
    margin-bottom: 50px;
}

.grid-container{
    display: grid;
    grid-template-areas: "one one two" "one one three";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 190px 190px;
    grid-gap: 10px;
}

 .grid-item-one{
    grid-area: one;
 }

 .grid-item-two{
    grid-area: two;
 }

 .grid-item-three{
    grid-area: three;
 }

 .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden; 
 }

 .flex-container-top{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 45px;
 }

 .image-label{
    font-size: 18px;
    font-weight: bold;
    color: #454545;
    text-align: center;
    text-transform: uppercase;
    font-family:Poppins, Helvetica, sans-serif;
 }

.image-container{
   height: 120px;
 }

 .btn{
    background-color: #3268BE;
    color: white;
    border: none;
    padding: 5px;
    width: 85%;
    margin-top: 10px;
    margin-left: 10px;
 }

 .background{
   background-color: #F9F9F9;
 }


.section-label{
   font-weight: bold;
   font-family:-apple-system, BlinkMacSystemFont, 'Open Sans',sans-serif,'Inv Maison Neue';
   text-transform: uppercase;
   text-align: center;
}

.flex-container-bottom{
   display: flex;
   justify-content: space-between;
   gap: 13px;
   margin-top: 10px;
   padding-left: 40px;
   padding-right: 40px;
}

.icon-img{
   border-radius: 50%;
   height: 40px;
   width: 40px;
   margin-top: 85px;
}



.placeholder-img{
   height: 200px;
}
h3{
   font-family: Poppins,Helvetica, sans-serif;
   text-align: center;
}
.text{
   font-size:small;
   font-family: Poppins,Helvetica, sans-serif;
   text-align: center;
}

.product-price{
   color: #4380C7;
   font-weight: bold;
}

.product-description{
   width: 97%;
   color: #272727;
}

.glide__slide{
   overflow: hidden;
}


.arrows{
   position: absolute;
   top: 38%;
   width: 100%;
   display: flex;
   justify-content: space-between;
   left: 0;
}

.left-arrow{
   transform: translateX(-40px)
}

.right-arrow{
   transform: translateX(40px)
}

.container{
   background-color: white;
   overflow: hidden;
   height: 300px;
   min-height: max-content;
}

.bullets{
   position: relative;
   margin-top: 50px;
   background-color: grey;
   padding: 5px;
   border-radius: 10px;
}


.bottom-section{
   padding-top:27px;
   padding-bottom: 30px;
   width: 1000px;
   margin: 0 auto;
}

@media only screen and (max-width: 768px) {
   .bottom-section {
      width: 90%; 
      max-width: 100%; 
   }

   .container {
      height: auto; 
      min-height: 200px; 
   }

   .left-arrow,
   .right-arrow {
      transform: none; 
   }
}

@media only screen and (max-width: 1024px) {
   .bottom-section {
      width: 90%; 
      max-width: 100%; 
   }

   .container {
      height: auto; 
      min-height: 200px;
   }


}

@media only screen and (max-width: 768px) {
      .grid-container {
         display: block;
      }

      .top-section{
         width: 90%;
     }
     .flex-container-top{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      margin-top: 10px;
      padding-left: 2px;
      padding-right: 2px;
   }

   .container-item{
      display: grid;
      grid-template-areas: "one two" "one three";
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
   }
   .image-label{
      grid-area: two;
      font-size: 13px;
      padding-top: 5px;
      text-align: left;
   }
   .image-container{
      grid-area: one;
   }
   .btn{
      grid-area: three;
      background-color: white;
      color:#3268BE ;
      padding: 0px;
      margin-top: 0px;
      margin-left: 0px;
      text-align: left;
      transform: translateY(-40px);
   }

}

@media only screen and (max-width: 1024px) {

   .top-section {
       width: 90%; 
   }

   .flex-container-top {
       gap: 25px; 
      
   }

}



